@import '~@jetbrains/ring-ui/components/global/global';

.activities-widget {
  color: var(--ring-text-color);

  &__issue-filter {
    margin-bottom: 4 * $ring-unit;

    &__query {
      width: 100%;

      vertical-align: top;
    }
  }

  &__user-selector {
    margin-bottom: 4 * $ring-unit;

    &__form-select {
      width: 100%;

      vertical-align: top;
    }
  }

  &__date-picker {
    margin-bottom: 4 * $ring-unit;
  }

  &__activity {
    margin-bottom: 4 * $ring-unit;
  }
}
