@import '~@jetbrains/ring-ui/components/global/global';

.activities-widget {
  color: var(--ring-text-color);

  &__issue-filter {
    margin-bottom: 4 * $ring-unit;

    &__query {
      width: 100%;

      vertical-align: top;
    }
  }

  &__user-selector {
    margin-bottom: 4 * $ring-unit;

    &__form-select {
      width: 100%;

      vertical-align: top;
    }
  }

  &__category-selector {
    margin-bottom: 4 * $ring-unit;
  }

  &__date-picker {
    margin-bottom: 4 * $ring-unit;
  }

  $left-indent: $ring-unit * 4;
  $right-indent: $ring-unit * 2;
  $small-indent: $ring-unit / 2;

  &__load-more {
    margin: 4px 0;
    padding: 4px 0;

    text-align: center;

    border: 1px dashed var(--ring-borders-color);
    border-radius: 3px;

    font-size: var(--ring-font-size-smaller);

    &:hover {
      border-color: var(--ring-pale-control-color);
    }
  }

  &__issue {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    &__id {
      white-space: nowrap;
    }

    &__summary {
      margin-left: $small-indent;
    }
  }

  &__activity {
    padding-bottom: 4 * $ring-unit;

    font-size: 14px;

    &_new {
      background: var(--ring-selected-background-color);
    }

    &__issue {
      margin: 0 $right-indent 0 $left-indent;
    }

    &__author {
      width: 100%;

      &__avatar {
        position: relative;
        bottom: -4px;

        float: left;

        width: $left-indent;

        &__group {
          position: absolute;
          right: 4px;
          bottom: -1px;

          width: 14px;
          height: 14px;

          border-radius: 3px;
        }
      }

      &__info {
        margin: 0 $right-indent 0 $left-indent;
        padding: $ring-unit 0 $ring-unit 0;

        &__name {
          width: $left-indent;
        }

        &__action {
          margin-left: $ring-unit;

          color: var(--ring-secondary-color);
        }

        &__time {
          margin-left: $small-indent;

          color: var(--ring-secondary-color);
        }
      }
    }

    &__link {
      display: flex;

      width: 100%;

      &__field-name {
        margin-right: $ring-unit;

        white-space: nowrap;
      }

      &__value {
        flex: 1;

        max-width: 400px;

        &__added {
          //TODO
        }

        &__removed {
          //TODO
        }
      }
    }

    &__change {
      margin: 0 $right-indent 0 $left-indent;

      &__field-name {
        margin-right: $ring-unit;

        white-space: nowrap;
      }

      &__added {
        margin-right: $small-indent;

        color: var(--ring-icon-success-color);
      }

      &__removed {
        text-decoration: line-through;
      }
    }

    &__text {
      display: flex;

      &__field-name {
        margin-right: $ring-unit;

        white-space: nowrap;
      }

      &__value {
        flex: 1;

        &__added {
          background: #e6ffe6;
        }

        &__removed {
          background: #ffe6e6;
        }
      }
    }
  }
}
